<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Best Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Z7siBVAfO0p0X9IB4p64RUgKRzIjXCmP"></script>

    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //for-mobile-apps -->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="/js/jquery.min.js"></script>
    <!-- //js -->
    <!-- cart -->
    <script src="/js/simpleCart.min.js"></script>
    <!-- cart -->
    <script type="text/javascript" src="/js/bootstrap-3.1.1.min.js"></script>
    <script src="/./js/wow.min.js"></script>
    <link href="/css/animate.min.css" rel="stylesheet">
    <script src="/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <style>
        .con1 {
            width: auto;
            position: relative;
            height: 390px;
            overflow: hidden;
        }
        
        .con1 ul {
            width: 100%;
            height: 390px;
            position: absolute;
            left: 0;
            top: 0;
            list-style: none;
        }
        
        .con1 ul li {
            float: left;
            height: 390px;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 390px;
            opacity: 1;
            z-index: 1;
            transition: .8s;
        }
        
        .con1 ul li img {
            display: block;
            width: 100%;
            height: 390px;
            position: absolute;
            left: 0;
            top: 0;
        }
    </style>
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="header-grid">
                <div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
                    <ul>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:1061256268@qq.com">1061256268@qq.com</a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
                        <% if(show) {%>
                            <li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="login.html">登录</a></li>
                            <li><i class="glyphicon glyphicon-book" aria-hidden="true"></i><a href="register.html">注册</a></li>
                            <%} else {%>
                                <li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i>
                                    <a href="#">
                                        <%=username%>
                                    </a>
                                </li>
                                <li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="/logout">退出登录</a></li>
                                <%}%>

                    </ul>
                </div>
                <div class="header-grid-right animated wow slideInRight" data-wow-delay=".5s">
                    <ul class="social-icons">
                        <li>
                            <a href="#" class="facebook"></a>
                        </li>
                        <li>
                            <a href="#" class="twitter"></a>
                        </li>
                        <li>
                            <a href="#" class="g"></a>
                        </li>
                        <li>
                            <a href="#" class="instagram"></a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="logo-nav">
                <div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
                    <h1><a href="index.html">麦田咖啡</a></h1>
                </div>
                <div class="logo-nav-left1">
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header nav_2">
                            <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="index.html" class="act">Home</a></li>
                                <!-- Mega Menu -->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">产品<b class="caret"></b></a>
                                    <ul class="dropdown-menu multi-column columns-3">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <h6>咖啡</h6>
                                                    <li><a href="products.html">卡布奇诺</a></li>
                                                    <li><a href="products.html">拿铁</a></li>
                                                    <li><a href="products.html">摩卡</a></li>
                                                    <li><a href="products.html">马琪雅朵</a></li>
                                                    <li><a href="products.html">美式咖啡</a></li>
                                                    <li><a href="products.html">康宝蓝</a></li>
                                                    <li><a href="products.html">焦糖玛琪朵</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <h6>蛋糕</h6>
                                                    <li><a href="products.html">提拉米苏</a></li>
                                                    <li><a href="products.html">熔岩蛋糕</a></li>
                                                    <li><a href="products.html">慕斯蛋糕</a></li>
                                                    <li><a href="products.html">芝士蛋糕</a></li>
                                                    <li><a href="products.html">彩虹蛋糕</a></li>
                                                    <li><a href="products.html">纸杯蛋糕</a></li>
                                                    <li><a href="products.html">马卡龙</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <h6>饮料</h6>
                                                    <li><a href="products.html">茶瓦纳冰摇柚柚蜂蜜红茶</a></li>
                                                    <li><a href="products.html">冰摇红莓黑加仑茶</a></li>
                                                    <li><a href="products.html">冰摇芒果花草茶</a></li>
                                                    <li><a href="products.html">麦芽雪冷萃</a></li>
                                                    <li><a href="products.html">阿馥奇朵</a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </ul>
                                </li>


                                <li><a href="mail.html">产品反馈</a></li>
                                <li><a href="dingdan.html">个人中心</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="logo-nav-right">
                    <div class="search-box">
                        <div id="sb-search" class="sb-search">
                            <form>
                                <input class="sb-search-input" placeholder="Enter your search term..." type="search" id="search" />
                                <input class="sb-search-submit" type="submit" value="" />
                                <span class="sb-icon-search"></span>
                            </form>
                        </div>
                    </div>

                    <script src="js/classie.js"></script>
                    <script src="js/uisearch.js"></script>
                    <script>
                        new UISearch(document.getElementById('sb-search'));
                    </script>

                </div>
                <div class="header-right">
                    <div class="cart box_1">
                        <a href="checkout.html">
                            <h3>
                                <div class="total">
                                    <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</div>
                                <img src="images/bag.png" alt="" />
                            </h3>
                        </a>
                        <p><a href="javascript:;" class="simpleCart_empty">购物车为空</a></p>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //header -->
    <!-- banner -->
    <div class="banner" style="background:none;min-height:390px">
        <div class="con1">
            <ul>
                <li style="opacity: 0;">
                    <img src="./images/f5f5c598d4079c2b1c18c338d017f2da.jpg" alt="" class="li_1" />
                </li>
                <li style="z-index: 3;">
                    <img src="./images/images.jpg" alt="" class="li_2" />
                </li>
            </ul>
        </div>
    </div>
    <script>
        var li = document.querySelectorAll('.con1 ul li');
        var arr = [];
        for (var i = 0; i < li.length; i++) {
            arr.push([getStyle(li[i], 'opacity'), getStyle(li[i], 'z-index')]);
        }
        console.log(arr);
        setInterval(function() {

            arr.push(arr[0]);
            arr.shift();
            for (var i = 0; i < li.length; i++) {
                li[i].style.opacity = arr[i][0];
                li[i].style.zIndex = arr[i][1];
            }
        }, 2000)

        function getStyle(obj, attr) {
            if (obj.currentStyle) {
                console.log(obj.currentStyle[attr]);
                return obj.currentStyle[attr];
            } else {
                console.log(getComputedStyle(obj, false)[attr]);
                return getComputedStyle(obj, false)[attr];
            }
        }
    </script>
    <div class="banner-bottom">
        <div class="container">
            <div class="banner-bottom-grids">
                <div class="banner-bottom-grid-left animated wow slideInLeft" data-wow-delay=".5s">
                    <div class="grid">
                        <figure class="effect-julia">
                            <img src="images/18.jpg" alt=" " class="img-responsive" />
                            <figcaption>
                                <h3>麦田 <span>咖啡</span></h3>

                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="banner-bottom-grid-left1 animated wow slideInUp" data-wow-delay=".5s">
                    <div class="banner-bottom-grid-left-grid left1-grid grid-left-grid1">
                        <div class="banner-bottom-grid-left-grid1">
                            <img src="images/1.jpg" alt=" " class="img-responsive" />
                        </div>
                        <div class="banner-bottom-grid-left1-pos">
                            <p>折扣 45%</p>
                        </div>
                    </div>
                    <div class="banner-bottom-grid-left-grid left1-grid grid-left-grid1">
                        <div class="banner-bottom-grid-left-grid1">
                            <img src="images/29.jpg" alt=" " class="img-responsive" />
                        </div>
                        <div class="banner-bottom-grid-left1-position">
                            <div class="banner-bottom-grid-left1-pos1">
                                <p>最新系列</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner-bottom-grid-right animated wow slideInRight" data-wow-delay=".5s">
                    <div class="banner-bottom-grid-left-grid grid-left-grid1">
                        <div class="banner-bottom-grid-left-grid1">
                            <img src="images/25.jpg" alt=" " class="img-responsive" />
                        </div>
                        <div class="grid-left-grid1-pos">
                            <p>经典咖啡</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //banner-bottom -->
    <!-- collections -->
    <div class="new-collections">
        <div class="container">
            <h3 class="animated wow zoomIn" data-wow-delay=".5s">热销产品</h3>

            <div class="new-collections-grids">
                <div class="col-md-3 new-collections-grid">
                    <div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s">
                        <div class="new-collections-grid1-image">
                            <a href="single.html" class="product-image"><img src="images/7.jpg" alt=" " class="img-responsive" /></a>
                            <div class="new-collections-grid1-image-pos">
                                <a href="single.html">查看详情</a>
                            </div>
                            <div class="new-collections-grid1-right">
                                <div class="rating">
                                    <div class="rating-left">
                                        <img src="images/2.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/2.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/2.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/1.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/1.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        </div>
                        <h4><a href="single.html">美式咖啡</a></h4>
                        <p>提神无糖美式</p>
                        <div class="new-collections-grid1-left simpleCart_shelfItem">
                            <p><i>￥325</i> <span class="item_price">￥250</span><a class="item_add" href="#">添加购物车 </a></p>
                        </div>
                    </div>
                    <div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s">
                        <div class="new-collections-grid1-image">
                            <a href="single.html" class="product-image"><img src="images/8.jpg" alt=" " class="img-responsive" /></a>
                            <div class="new-collections-grid1-image-pos">
                                <a href="single.html">查看详情</a>
                            </div>
                            <div class="new-collections-grid1-right">
                                <div class="rating">
                                    <div class="rating-left">
                                        <img src="images/2.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/2.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/1.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/1.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/1.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        </div>
                        <h4><a href="single.html">可可粉</a></h4>
                        <p>低脂可可粉.</p>
                        <div class="new-collections-grid1-left simpleCart_shelfItem">
                            <p><i>￥280</i> <span class="item_price">￥150</span><a class="item_add" href="#">添加购物车 </a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 new-collections-grid">
                    <div class="new-collections-grid1 new-collections-grid1-image-width animated wow slideInUp" data-wow-delay=".5s">
                        <div class="new-collections-grid1-image">
                            <a href="single.html" class="product-image"><img src="images/26.jpg" alt=" " class="img-responsive" /></a>
                            <div class="new-collections-grid1-image-pos new-collections-grid1-image-pos1">
                                <a href="single.html">查看详情</a>
                            </div>
                            <div class="new-collections-grid1-right new-collections-grid1-right-rate">
                                <div class="rating">
                                    <div class="rating-left">
                                        <img src="images/2.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/2.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/2.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/2.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/1.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                            <div class="new-one">
                                <p>New</p>
                            </div>
                        </div>
                        <h4><a href="single.html">巧克力</a></h4>
                        <p>意大利黑巧克力</p>
                        <div class="new-collections-grid1-left simpleCart_shelfItem">
                            <p><i>￥580</i> <span class="item_price">￥550</span><a class="item_add" href="#">添加购物车 </a></p>
                        </div>
                    </div>
                    <div class="new-collections-grid-sub-grids">
                        <div class="new-collections-grid1-sub">
                            <div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s">
                                <div class="new-collections-grid1-image">
                                    <a href="single.html" class="product-image"><img src="images/6.jpg" alt=" " class="img-responsive" /></a>
                                    <div class="new-collections-grid1-image-pos">
                                        <a href="single.html">查看详情</a>
                                    </div>
                                    <div class="new-collections-grid1-right">
                                        <div class="rating">
                                            <div class="rating-left">
                                                <img src="images/2.png" alt=" " class="img-responsive" />
                                            </div>
                                            <div class="rating-left">
                                                <img src="images/2.png" alt=" " class="img-responsive" />
                                            </div>
                                            <div class="rating-left">
                                                <img src="images/2.png" alt=" " class="img-responsive" />
                                            </div>
                                            <div class="rating-left">
                                                <img src="images/2.png" alt=" " class="img-responsive" />
                                            </div>
                                            <div class="rating-left">
                                                <img src="images/2.png" alt=" " class="img-responsive" />
                                            </div>
                                            <div class="clearfix"> </div>
                                        </div>
                                    </div>
                                </div>
                                <h4><a href="single.html">玛奇朵</a></h4>
                                <p>焦糖玛奇朵</p>
                                <div class="new-collections-grid1-left simpleCart_shelfItem">
                                    <p><i>￥480</i> <span class="item_price">￥400</span><a class="item_add" href="#">添加购物车 </a></p>
                                </div>
                            </div>
                        </div>
                        <div class="new-collections-grid1-sub">
                            <div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s">
                                <div class="new-collections-grid1-image">
                                    <a href="single.html" class="product-image"><img src="images/9.jpg" alt=" " class="img-responsive" /></a>
                                    <div class="new-collections-grid1-image-pos">
                                        <a href="single.html">查看详情</a>
                                    </div>
                                    <div class="new-collections-grid1-right">
                                        <div class="rating">
                                            <div class="rating-left">
                                                <img src="images/2.png" alt=" " class="img-responsive" />
                                            </div>
                                            <div class="rating-left">
                                                <img src="images/1.png" alt=" " class="img-responsive" />
                                            </div>
                                            <div class="rating-left">
                                                <img src="images/1.png" alt=" " class="img-responsive" />
                                            </div>
                                            <div class="rating-left">
                                                <img src="images/1.png" alt=" " class="img-responsive" />
                                            </div>
                                            <div class="rating-left">
                                                <img src="images/1.png" alt=" " class="img-responsive" />
                                            </div>
                                            <div class="clearfix"> </div>
                                        </div>
                                    </div>
                                </div>
                                <h4><a href="single.html">芝士蛋糕</a></h4>

                                <div class="new-collections-grid1-left simpleCart_shelfItem">
                                    <p><i>￥280</i> <span class="item_price">￥150</span><a class="item_add" href="#">添加购物车 </a></p>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-3 new-collections-grid">
                    <div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s">
                        <div class="new-collections-grid1-image">
                            <a href="single.html" class="product-image"><img src="images/10.jpg" alt=" " class="img-responsive" /></a>
                            <div class="new-collections-grid1-image-pos">
                                <a href="single.html">查看详情</a>
                            </div>
                            <div class="new-collections-grid1-right">
                                <div class="rating">
                                    <div class="rating-left">
                                        <img src="images/2.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/2.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/2.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/1.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/1.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        </div>
                        <h4><a href="single.html">甜美式</a></h4>
                        <p>加糖美式</p>
                        <div class="new-collections-grid1-left simpleCart_shelfItem">
                            <p><i>￥180</i> <span class="item_price">￥120</span><a class="item_add" href="#">添加购物车 </a></p>
                        </div>
                    </div>
                    <div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s">
                        <div class="new-collections-grid1-image">
                            <a href="single.html" class="product-image"><img src="images/11.jpg" alt=" " class="img-responsive" /></a>
                            <div class="new-collections-grid1-image-pos">
                                <a href="single.html">查看详情</a>
                            </div>
                            <div class="new-collections-grid1-right">
                                <div class="rating">
                                    <div class="rating-left">
                                        <img src="images/2.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/2.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/2.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/2.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/1.png" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        </div>
                        <h4><a href="single.html">雀巢咖啡</a></h4>

                        <div class="new-collections-grid1-left simpleCart_shelfItem">
                            <p><i>￥340</i> <span class="item_price">￥257</span><a class="item_add" href="#">添加购物车 </a></p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

    <div class="timer">
        <div class="container">
            <div class="timer-grids">
                <div class="col-md-8 timer-grid-left animated wow slideInLeft" data-wow-delay=".5s">
                    <h3><a href="products.html">摩卡</a></h3>
                    <div class="rating">
                        <div class="rating-left">
                            <img src="images/2.png" alt=" " class="img-responsive" />
                        </div>
                        <div class="rating-left">
                            <img src="images/2.png" alt=" " class="img-responsive" />
                        </div>
                        <div class="rating-left">
                            <img src="images/2.png" alt=" " class="img-responsive" />
                        </div>
                        <div class="rating-left">
                            <img src="images/2.png" alt=" " class="img-responsive" />
                        </div>
                        <div class="rating-left">
                            <img src="images/1.png" alt=" " class="img-responsive" />
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="new-collections-grid1-left simpleCart_shelfItem timer-grid-left-price">
                        <p>摩卡咖啡（CafeMocha）是一种最古老的咖啡，其历史要追溯到咖啡的起源。它是由意大利浓缩咖啡、巧克力酱、鲜奶油和牛奶混合而成，摩卡得名于有名的摩卡港。 <i>￥580</i> <span class="item_price">￥550</span></p>
                        <h4></h4>
                        <p><a class="item_add timer_add" href="#">添加购物车 </a></p>
                    </div>
                    <div id="counter"> </div>
                    <script src="js/jquery.countdown.js"></script>
                    <script src="js/script.js"></script>
                </div>
                <div class="col-md-4 timer-grid-right animated wow slideInRight" data-wow-delay=".5s">
                    <div class="timer-grid-right1">
                        <img src="images/19.jpg" alt=" " class="img-responsive" />
                        <div class="timer-grid-right-pos">
                            <h4>Special Offer</h4>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="collections-bottom">
    </div>
    <div class="footer">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".5s">
                    <h3>关于我们</h3>
                    <p>麦田咖啡<span></span></p>
                </div>
                <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".6s">
                    <h3>联系方式</h3>
                    <ul>
                        <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>长安区 <span>西安</span></li>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".7s">
                    <h3>咖啡知识</h3>
                    <div class="footer-grid-sub-grid-left">
                        <a href="https://www.starbucks.com.cn/coffee-blog/the-origin-of-coffee-and-its-cultivation/"><img src="images/coffee-cultivation-1.jpg" alt=" " class="img-responsive" />咖啡的起源与培植</a>
                    </div>
                    <div class="footer-grid-sub-grid-left">
                        <a href="https://www.starbucks.com.cn/coffee-blog/roast-story/"><img src="images/roast-story-1.jpg" alt=" " class="img-responsive" />咖啡烘焙</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".8s">
                    <h3>咖啡品鉴</h3>
                    <div class="footer-grid-sub-grids">
                        <div class="footer-grid-sub-grid-left">
                            <a href="https://www.starbucks.com.cn/coffee-blog/the-4-fundamentals/"><img src="images/fundamentals-proportion.gif" alt=" " class="img-responsive" />咖啡调制</a>
                        </div>
                        <div class="footer-grid-sub-grid-left">
                            <a href="https://www.starbucks.com.cn/coffee-blog/pour-over/l"><img src="images/pour-over-1.jpg" alt=" " class="img-responsive" />手冲咖啡</a>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
            <h2><a href="index.html">Best Store <span>shop anywhere</span></a></h2>
        </div>
        <div class="copy-right animated wow slideInUp" data-wow-delay=".5s">
            <p>Copyright &copy; 2018.软件1604
                <a href="http://www.cssmoban.com/" target="_blank" title="麦田咖啡"></a> - Collect from <a href="http://www.cssmoban.com/" title="麦田咖啡" target="_blank">麦田咖啡</a></p>
        </div>
    </div>
</body>

</html>