<!DOCTYPE html>
<html>

<head>
    <title>Single</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Best Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //for-mobile-apps -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="js/jquery.min.js"></script>
    <!-- //js -->
    <!-- cart -->
    <script src="js/simpleCart.min.js">
    </script>
    <!-- cart -->
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
    <!-- for bootstrap working -->
    <script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
    <!-- //for bootstrap working -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- animation-effect -->
    <link href="css/animate.min.css" rel="stylesheet">
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- //animation-effect -->
</head>

<body>
    <!-- header -->
    <div class="header">
        <div class="container">
            <div class="header-grid">
                <div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
                    <ul>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:1061256268@qq.com">1061256268@qq.com</a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
                        <% if(!show) {%>
                            <li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="/login">登录</a></li>
                            <li><i class="glyphicon glyphicon-book" aria-hidden="true"></i><a href="/register">注册</a></li>
                            <%} else {%>
                                <li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i>
                                    <a href="#">
                                        <%= username %>
                                    </a>
                                </li>
                                <li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="/logout">退出登录</a></li>
                                <%}%>

                    </ul>
                </div>
                <div class="header-grid-right animated wow slideInRight" data-wow-delay=".5s">
                    <ul class="social-icons">
                        <li>
                            <a href="#" class="facebook"></a>
                        </li>
                        <li>
                            <a href="#" class="twitter"></a>
                        </li>
                        <li>
                            <a href="#" class="g"></a>
                        </li>
                        <li>
                            <a href="#" class="instagram"></a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="logo-nav">
                <div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
                    <h1><a href="/index">麦田咖啡</a></h1>
                </div>
                <div class="logo-nav-left1">
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header nav_2">
                            <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="/index" class="act">Home</a></li>
                                <!-- Mega Menu -->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">产品<b class="caret"></b></a>
                                    <ul class="dropdown-menu multi-column columns-3">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <h6>咖啡</h6>
                                                    <li><a href="/products">卡布奇诺</a></li>
                                                    <li><a href="/products">拿铁</a></li>
                                                    <li><a href="/products">摩卡</a></li>
                                                    <li><a href="/products">马琪雅朵</a></li>
                                                    <li><a href="/products">美式咖啡</a></li>
                                                    <li><a href="/products">康宝蓝</a></li>
                                                    <li><a href="/products">焦糖玛琪朵</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <h6>蛋糕</h6>
                                                    <li><a href="/products">提拉米苏</a></li>
                                                    <li><a href="/products">熔岩蛋糕</a></li>
                                                    <li><a href="/products">慕斯蛋糕</a></li>
                                                    <li><a href="/products">芝士蛋糕</a></li>
                                                    <li><a href="/products">彩虹蛋糕</a></li>
                                                    <li><a href="/products">纸杯蛋糕</a></li>
                                                    <li><a href="/products">马卡龙</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <h6>饮料</h6>
                                                    <li><a href="/products">茶瓦纳冰摇柚柚蜂蜜红茶</a></li>
                                                    <li><a href="/products">冰摇红莓黑加仑茶</a></li>
                                                    <li><a href="/products">冰摇芒果花草茶</a></li>
                                                    <li><a href="/products">麦芽雪冷萃</a></li>
                                                    <li><a href="/products">阿馥奇朵</a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </ul>
                                </li>


                                <li><a href="/mail">产品反馈</a></li>
                                <li><a href="/order">个人中心</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="logo-nav-right">
                    <div class="search-box">
                        <div id="sb-search" class="sb-search">
                            <form>
                                <input class="sb-search-input" placeholder="Enter your search term..." type="search" id="search" />
                                <input class="sb-search-submit" type="submit" value="" />
                                <span class="sb-icon-search"></span>
                            </form>
                        </div>
                    </div>

                    <script src="js/classie.js"></script>
                    <script src="js/uisearch.js"></script>
                    <script>
                        new UISearch(document.getElementById('sb-search'));
                    </script>

                </div>
                <div class="header-right">
                    <div class="cart box_1">
                        <a href="/checkout">
                            <h3>
                                <div class="total">
                                    <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</div>
                                <img src="images/bag.png" alt="" />
                            </h3>
                        </a>
                        <p><a href="javascript:;" class="simpleCart_empty">购物车为空</a></p>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //header -->
    <!-- breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
                <li><a href="/index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
                <li class="active">商品详情</li>
            </ol>
        </div>
    </div>
    <!-- //breadcrumbs -->
    <!-- single -->
    <div class="single">
        <div class="container">
            <div class="col-md-4 products-left">
                <div class="filter-price animated wow slideInUp" data-wow-delay=".5s">
                    <h3>按价格过滤</h3>
                    <ul class="dropdown-menu1">
                        <li>
                            <a href="">
                                <div id="slider-range"></div>
                                <input type="text" id="amount" style="border: 0" />
                            </a>
                        </li>
                    </ul>
                    <script type='text/javascript'>
                        //<![CDATA[ 
                        $(window).load(function() {
                            $("#slider-range").slider({
                                range: true,
                                min: 0,
                                max: 1000,
                                values: [10, 500],
                                slide: function(event, ui) {
                                    $("#amount").val("¥" + ui.values[0] + " - ¥" + ui.values[1]);
                                }
                            });
                            $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));


                        }); //]]>
                    </script>
                    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
                    <!---->
                </div>
                <div class="categories animated wow slideInUp" data-wow-delay=".5s">
                    <h3>产品分类</h3>
                    <ul class="cate">
                        <li><a href="/products">爆款热销</a> <span>(15)</span></li>
                        <li><a href="/products">咖啡</a> <span>(16)</span></li>
                        <ul>
                            <li><a href="/products">速溶</a> <span>(2)</span></li>
                            <li><a href="/products">拿铁</a> <span>(5)</span></li>
                            <li><a href="/products">美式</a> <span>(1)</span></li>
                            <li><a href="/products">摩卡</a> <span>(4)</span></li>
                            <li><a href="/products">其他</a> <span>(1)</span></li>
                        </ul>
                        <li><a href="/products">打折</a> <span>(15)</span></li>
                        <li><a href="/products">甜品</a> <span>(15)</span></li>
                        <ul>
                            <li><a href="/products">蛋糕</a> <span>(2)</span></li>
                            <li><a href="/products">曲奇</a> <span>(2)</span></li>
                            <li><a href="/products">冰淇淋</a> <span>(1)</span></li>
                            <li><a href="/products">巧克力</a> <span>(2)</span></li>
                            <li><a href="/products">其他</a> <span>(4)</span></li>
                        </ul>
                        <li><a href="/products">咖啡衍生品</a> <span>(10)</span></li>
                        <ul>
                            <li><a href="/products">咖啡豆</a> <span>(2)</span></li>
                            <li><a href="/products">可可粉</a> <span>(3)</span></li>
                            <li><a href="/products">方糖</a> <span>(1)</span></li>
                            <li><a href="/products">咖啡机</a> <span>(2)</span></li>
                        </ul>
                    </ul>
                </div>
                <div class="men-position animated wow slideInUp" data-wow-delay=".5s">
                    <a href="/single"><img src="images/29.jpg" alt=" " class="img-responsive" /></a>
                    <div class="men-position-pos">
                        <h4>coffeemaker</h4>
                        <h5>¥399</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-8 single-right">
                <div class="col-md-5 single-right-left animated wow slideInUp" data-wow-delay=".5s">
                    <div class="flexslider">
                        <ul class="slides">
                            <li data-thumb="images/si.jpg">
                                <div class="thumb-image"> <img src="images/si.jpg" data-imagezoom="true" class="img-responsive"> </div>
                            </li>
                        </ul>
                    </div>
                    <!-- flixslider -->
                    <script defer src="js/jquery.flexslider.js"></script>
                    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
                    <script>
                        // Can also be used with $(document).ready()
                        $(window).load(function() {
                            $('.flexslider').flexslider({
                                animation: "slide",
                                controlNav: "thumbnails"
                            });
                        });
                    </script>
                    <!-- flixslider -->
                </div>
                <div class="col-md-7 single-right-left simpleCart_shelfItem animated wow slideInRight" data-wow-delay=".5s">
                    <h3>焦糖玛奇朵</h3>
                    <h4><span class="item_price">¥25</span> - ¥38</h4>
                    <div class="rating1">
                        <span class="starRating">
							<input id="rating5" type="radio" name="rating" value="5">
							<label for="rating5">5</label>
							<input id="rating4" type="radio" name="rating" value="4">
							<label for="rating4">4</label>
							<input id="rating3" type="radio" name="rating" value="3" checked>
							<label for="rating3">3</label>
							<input id="rating2" type="radio" name="rating" value="2">
							<label for="rating2">2</label>
							<input id="rating1" type="radio" name="rating" value="1">
							<label for="rating1">1</label>
						</span>
                    </div>
                    <div class="description">
                        <h5><i>详情描述</i></h5>
                        <p>Macchiato的成分是1份浓缩咖啡+0.5份奶泡(牛奶和奶沫混合的最终形态)，此种咖啡比较女性化， 看起来像是缩小版的卡布其诺。它们最大的区别，除了马琪朵的分量是卡布其诺的三分之一外， 它Espresso上面只加一层奶泡而没有再加牛奶，所以喝起来奶香只停留在唇边而已，浓缩咖啡的味道并不会被牛奶稀释。
                        </p>
                    </div>
                    <div class="color-quality">
                        <div class="color-quality-left">
                            <h5>糖分：</h5>
                            <ul>
                                <li><a href="#"><span></span>无糖</a></li>
                                <li><a href="#" class="brown"><span></span>一份</a></li>
                                <li><a href="#" class="purple"><span></span>两份</a></li>
                                <li><a href="#" class="gray"><span></span>加奶</a></li>
                            </ul>
                        </div>
                        <div class="color-quality-right">
                            <h5>数量：</h5>
                            <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
								<option value="null">1</option>
								<option value="null">3</option> 
								<option value="null">5</option>					
								<option value="null">10</option>								
							</select>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <br>
                    <div class="occasion-cart">
                        <a class="item_add" href="/checkout">添加购物车</a>
                    </div>
                    <div class="social">
                        <div class="social-left">
                            <p>分享至 :</p>
                        </div>
                        <div class="social-right">
                            <ul class="social-icons">
                                <li>
                                    <a href="#" class="facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="g"></a>
                                </li>
                                <li>
                                    <a href="#" class="instagram"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
                <div class="bootstrap-tab animated wow slideInUp" data-wow-delay=".5s">
                    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">详情</a></li>
                            <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">评论(2)</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active bootstrap-tab-text" id="home" aria-labelledby="home-tab">
                                <h5>产品简述</h5>
                                <p>玛奇朵Macchiato在意大利文里是“印记、烙印”的意思。顾名思义，它的名字焦糖玛奇朵就象征着甜蜜的印记。 玛奇朵咖啡是奶咖啡的一种，它是先将牛奶和香草糖浆混合后再加入奶沫，然后再倒入咖啡，最后在奶沫上淋上网格状焦糖。
                                    <span>Caramel Macchiato，是玛其朵咖啡的名字。Caramel 是英文里焦糖的意思， 对于那些既想享受CAPPUCCINO细腻滑爽的奶泡，又不肯放弃ESPRESSO浓烈的咖啡纯香的人来说，玛琪雅朵可能是最好的选择。MACCHIATO在意大利语中是一点点的意思，在一小杯ESPRESSO中直接加入一两勺奶泡，一杯玛琪雅朵就做成了。</span></p>
                            </div>
                            <div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="profile" aria-labelledby="profile-tab">
                                <div class="bootstrap-tab-text-grids">
                                    <div class="bootstrap-tab-text-grid">
                                        <div class="bootstrap-tab-text-grid-left">
                                            <img src="images/4.png" alt=" " class="img-responsive" />
                                        </div>
                                        <div class="bootstrap-tab-text-grid-right">
                                            <ul>
                                                <li><a href="#">小明</a></li>
                                                <li><a href="#"><span class="glyphicon glyphicon-share" aria-hidden="true"></span>回复</a></li>
                                            </ul>
                                            <p>非常好喝，口感非常合适，在线服务很贴心！</p>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="bootstrap-tab-text-grid">
                                        <div class="bootstrap-tab-text-grid-left">
                                            <img src="images/5.png" alt=" " class="img-responsive" />
                                        </div>
                                        <div class="bootstrap-tab-text-grid-right">
                                            <ul>
                                                <li><a href="#">小美</a></li>
                                                <li><a href="#"><span class="glyphicon glyphicon-share" aria-hidden="true"></span>回复</a></li>
                                            </ul>
                                            <p>小杯装很迷你很Q，还是一样的味道，揭盖后直接饮用，很适合我的，满足了老夫的少女心。最喜欢味全的产品，尤其是喝酒前喝酒后来两口，会很舒服。百喝不厌，健康饮品。老少皆宜的。推荐给大家。好喝好拿好携带。大家值得拥有哦</p>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="add-review">
                                        <h4>添加评论</h4>
                                        <form>
                                            <div>
                                                <input type="text" class="form-control" id="emp_name" name="emp_name" onblur="checkEmpName('emp_name','emp_name_tip')" placeholder="请输入姓名" required="required">
                                                <label id="emp_name_tip" class="control-label" style="color:red"></label> </div>

                                            <div>
                                                <input type="text" class="form-control" id="Text2" name="emp_name" onblur="checkEmpText('Text2','Label2')" placeholder="请输入内容" required="required">
                                                <label id="Label2" class="control-label" style="color:red"></label> </div>
                                            <button type="submit" class="btn btn-primary" onclick="return checkAll()">提  交</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <script>
                                function checkEmpName(id1, id2) {
                                    var reg = /^[\u4e00-\u9fa5]{2,10}$/;
                                    var emp_name = document.getElementById(id1);
                                    if (!reg.test(emp_name.value)) {
                                        document.getElementById(id2).innerHTML = "<img src='images/error.png'>请输入真实姓名,10字以内中文!";
                                        emp_name.focus();
                                        return false;
                                    } else {
                                        document.getElementById("emp_name_tip").innerHTML = "<img src='images/right.png'>";
                                        return true;
                                    }
                                }

                                function checkEmpText(id1, id2) {
                                    var reg = /^[\u4e00-\u9fa5]{10,}$/;
                                    var emp_name = document.getElementById(id1);
                                    if (!reg.test(emp_name.value)) {
                                        document.getElementById(id2).innerHTML = "<img src='images/error.png'>请输入内容,10字以外中文!";
                                        emp_name.focus();
                                        return false;
                                    } else {
                                        document.getElementById("emp_name_tip").innerHTML = "<img src='images/right.png'>";
                                        return true;
                                    }
                                }

                                function checkAll() {
                                    if (!checkEmpName('emp_name', 'emp_name_tip') || checkEmpText('Text2', 'Label2'))
                                        return false;
                                    else
                                        return true;
                                }
                            </script>
                            <div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="dropdown1" aria-labelledby="dropdown1-tab">
                                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore
                                    carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice
                                    blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                            </div>
                            <div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="dropdown2" aria-labelledby="dropdown2-tab">
                                <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche
                                    high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa
                                    ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //single -->
    <!-- single-related-products -->
    <div class="single-related-products">
        <div class="container">
            <h3 class="animated wow slideInUp" data-wow-delay=".5s">相关产品推荐</h3>
            <p class="est animated wow slideInUp" data-wow-delay=".5s">Recommended products, guess you like.
            </p>
            <div class="new-collections-grids">
                <div class="col-md-3 new-collections-grid">
                    <div class="new-collections-grid1 animated wow slideInLeft" data-wow-delay=".5s">
                        <div class="new-collections-grid1-image">
                            <a href="/single" class="product-image"><img src="images/8.jpg" alt=" " class="img-responsive"></a>
                            <div class="new-collections-grid1-image-pos">
                                <a href="/single">详情查看</a>
                            </div>
                            <div class="new-collections-grid1-right">
                                <div class="rating">
                                    <div class="rating-left">
                                        <img src="images/2.png" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/2.png" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/1.png" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/1.png" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/1.png" alt=" " class="img-responsive">
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        </div>
                        <h4><a href="/single">咖啡</a></h4>
                        <p>麦田咖啡，专一做最好的咖啡！</p>
                        <div class="new-collections-grid1-left simpleCart_shelfItem">
                            <p><i>¥33</i> <span class="item_price">¥25</span><a class="item_add" href="/checkout">添加购物车 </a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 new-collections-grid">
                    <div class="new-collections-grid1-sub">
                        <div class="new-collections-grid1 animated wow slideInLeft" data-wow-delay=".6s">
                            <div class="new-collections-grid1-image">
                                <a href="/single" class="product-image"><img src="images/6.jpg" alt=" " class="img-responsive"></a>
                                <div class="new-collections-grid1-image-pos">
                                    <a href="/single">详情查看</a>
                                </div>
                                <div class="new-collections-grid1-right">
                                    <div class="rating">
                                        <div class="rating-left">
                                            <img src="images/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="images/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="images/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="images/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="images/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </div>
                            <h4><a href="/single">甜品</a></h4>
                            <p>麦田咖啡，专一做最好的咖啡！</p>
                            <div class="new-collections-grid1-left simpleCart_shelfItem">
                                <p><i>¥48</i> <span class="item_price">¥40</span><a class="item_add" href="/checkout">添加购物车 </a></p>
                            </div>
                        </div>
                    </div>
                    <div class="new-collections-grid1-sub">
                        <div class="new-collections-grid1 animated wow slideInLeft" data-wow-delay=".7s">
                            <div class="new-collections-grid1-image">
                                <a href="/single" class="product-image"><img src="images/9.jpg" alt=" " class="img-responsive"></a>
                                <div class="new-collections-grid1-image-pos">
                                    <a href="/single">详情查看</a>
                                </div>
                                <div class="new-collections-grid1-right">
                                    <div class="rating">
                                        <div class="rating-left">
                                            <img src="images/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="images/1.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="images/1.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="images/1.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="images/1.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </div>
                            <h4><a href="/single">甜品</a></h4>
                            <p>麦田咖啡，专一做最好的咖啡！</p>
                            <div class="new-collections-grid1-left simpleCart_shelfItem">
                                <p><i>¥28</i> <span class="item_price">¥15</span><a class="item_add" href="/checkout">添加购物车 </a></p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-3 new-collections-grid">
                    <div class="new-collections-grid1 animated wow slideInLeft" data-wow-delay=".8s">
                        <div class="new-collections-grid1-image">
                            <a href="/single" class="product-image"><img src="images/11.jpg" alt=" " class="img-responsive"></a>
                            <div class="new-collections-grid1-image-pos">
                                <a href="/single">详情查看</a>
                            </div>
                            <div class="new-collections-grid1-right">
                                <div class="rating">
                                    <div class="rating-left">
                                        <img src="images/2.png" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/2.png" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/2.png" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/2.png" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rating-left">
                                        <img src="images/1.png" alt=" " class="img-responsive">
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        </div>
                        <h4><a href="/single">咖啡</a></h4>
                        <p>麦田咖啡，专一做最好的咖啡！</p>
                        <div class="new-collections-grid1-left simpleCart_shelfItem">
                            <p><i>¥34</i> <span class="item_price">¥25</span><a class="item_add" href="/checkout">添加购物车 </a></p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //single-related-products -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".5s">
                    <h3>关于我们</h3>
                    <p>麦田咖啡<span></span></p>
                </div>
                <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".6s">
                    <h3>联系方式</h3>
                    <ul>
                        <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>长安区 <span>西安</span></li>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".7s">
                    <h3>咖啡知识</h3>
                    <div class="footer-grid-sub-grid-left">
                        <a href="https://www.starbucks.com.cn/coffee-blog/the-origin-of-coffee-and-its-cultivation/"><img src="images/coffee-cultivation-1.jpg" alt=" " class="img-responsive" />咖啡的起源与培植</a>
                    </div>
                    <div class="footer-grid-sub-grid-left">
                        <a href="https://www.starbucks.com.cn/coffee-blog/roast-story/"><img src="images/roast-story-1.jpg" alt=" " class="img-responsive" />咖啡烘焙</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".8s">
                    <h3>咖啡品鉴</h3>
                    <div class="footer-grid-sub-grids">
                        <div class="footer-grid-sub-grid-left">
                            <a href="https://www.starbucks.com.cn/coffee-blog/the-4-fundamentals/"><img src="images/fundamentals-proportion.gif" alt=" " class="img-responsive" />咖啡调制</a>
                        </div>
                        <div class="footer-grid-sub-grid-left">
                            <a href="https://www.starbucks.com.cn/coffee-blog/pour-over/l"><img src="images/pour-over-1.jpg" alt=" " class="img-responsive" />手冲咖啡</a>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
            <h2><a href="/index">Best Store <span>shop anywhere</span></a></h2>
        </div>
        <div class="copy-right animated wow slideInUp" data-wow-delay=".5s">
            <p>Copyright &copy; 2018.软件1604
                <a href="" target="_blank" title="麦田咖啡"></a> - Collect from <a href="" title="麦田咖啡" target="_blank">麦田咖啡</a></p>
        </div>
    </div>
    <!-- //footer -->
    <!-- zooming-effect -->
    <script src="js/imagezoom.js"></script>
    <!-- //zooming-effect -->
</body>

</html>